<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">

		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
		<!-- 如果使用的是cdn地址链接文件 前缀不加http: 会自动匹配http写  https -->
		<!-- <link rel="stylesheet" href="//cdn.baidu.com/jquery.js"> -->
	</head>
	<body ng-app="todoApp" >
		<section class="todoapp" ng-controller="MainController">
			<header class="header">
				<h1>todos</h1>
				<form ng-submit="add()">
					<input class="new-todo" ng-model="text" placeholder="What needs to be done?" autofocus>
				</form>
				</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox"  >
				<label for="toggle-all" ng-click="toggleAll()">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li ng-repeat="todo in todoList | filter : selecter : equalCompare" data-id="{{todo.id}}"
						ng-class="{completed:todo.completed,editing:todo.id === currentEidtId,autofocus:autofocus ,name:name,id:name,focus:true}" ng-show="todo.display">
						<div class="view">
							<input class="toggle" ng-model="todo.completed" type="checkbox" checked>
							<label ng-dblclick="editText(todo.id)">{{todo.text}} </label>
							<button class="destroy" ng-click="delete(todo.id)"></button>
						</div>
						<form ng-submit="stopEdit()">
							<input class="edit" placeholder="Create Completed" ng-model="todo.text">
						</form>
					</li>



				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer" >
				<!-- This should be `0 items left` by default -->
				<span class="todo-count" ><strong>{{todoList.length}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a  href="#/" ng-class="{selected:$location.path() == '/'}" >All</a>
					</li>
					<li>
						<a href="#/active" ng-class="{selected:$location.path() == '/active'}" >Active</a>
					</li>
					<li>
						<a href="#/completed" ng-class="{selected:$location.path() == '/completed'}" >Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click="clear()" ng-show="existCompleted()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!--<script src="node_modules/todomvc-common/base.js"></script>-->
		<script src="node_modules/ang/angular.min.js"></script>
		<script src="node_modules/ang/angular-route.min.js"></script>
		<script id="main_templ" type="text/ng-template">
			<!-- 只有type="text/javascript"的script节点才会被当做JS执行 -->
			<!-- script中的内容就算不能执行，也不可以显示在界面上 -->
		</script>
		<script src="js/main.js"></script>
		<script src="js/app.js"></script>

	</body>
</html>
