*{
    margin:0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
.slider{
    width: 760px;
    height: 420px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.images{
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.images li{
    float: left;
}
.images li a img{
    width: 760px;
    height: 420px;
}
.slider .points{
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -58px;
}
.slider .points li{
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 10px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
}

.slider .points li.active{
    background-color: #fff;
}

.btn{
    width: 42px;
    height: 60px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    margin-top: -60px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.left{left: 5px;}
.right{
    right: 5px;
}